@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* default light theme */
    --sky: #A3DEFF;
    --bubble: #B1E3FF;
    --darkgreen: #2F5525;
    --lightgreen: #69C063;
    --brown: #71461F;
    --gold: #EF9B1F;
    --bluegray: #514F66;
    --gray: #5F5F5F;
    --white: #FFFFFF;
    --darksky: #2C314F;
    --darkbubble: #373A5E;
    --red: #D56774;
    --darkRed: #A81F2D;
    --clouds: url('/assets/clouds.svg');
    --clouds2: url('/assets/clouds_birds.svg');
    --schedule: url('/assets/schedule.svg');
  }

  [data-theme='light'] {
    --sky: #A3DEFF;
    --bubble: #B1E3FF;
    --darkgreen: #2F5525;
    --lightgreen: #69C063;
    --brown: #71461F;
    --gold: #EF9B1F;
    --bluegray: #514F66;
    --gray: #5F5F5F;
    --white: #FFFFFF;
    --darksky: #2C314F;
    --darkbubble: #373A5E;
    --red: #D56774;
    --darkRed: #A81F2D;
    --clouds: url('/assets/clouds.svg');
    --clouds2: url('/assets/clouds_birds.svg');
    --schedule: url('/assets/schedule.svg');
  }

  [data-theme='dark'] {
    /* TODO: NEED TO CHANGE COLORS FOR DARK MODE (it is currently same as light mode) */
    --sky: #A3DEFF;
    --bubble: #B1E3FF;
    --darkgreen: #2F5525;
    --lightgreen: #69C063;
    --brown: #71461F;
    --gold: #EF9B1F;
    --bluegray: #514F66;
    --gray: #5F5F5F;
    --white: #FFFFFF;
    --darksky: #2C314F;
    --darkbubble: #373A5E;
    --red: #D56774;
    --darkRed: #A81F2D;
    --clouds: url('/assets/clouds.svg');
    --clouds2: url('/assets/clouds_birds.svg');
    --schedule: url('/assets/schedule.svg');
  }
}

/* * {
  border: 2px solid greenyellow;
} */

html,
body {
  width: 100% !important;
  background-color: var(--sky);
}

.min-safe-h-screen {
  /* equivalent to 100dvh in major browsers */
  min-height: calc(
    100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0)
  ) !important;
}

@supports (-webkit-touch-callout: none) {
  .min-safe-h-screen {
    /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
    min-height: -webkit-fill-available !important;
  }
}
