@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito', sans-serif;
}

@layer base {
  :root {
    /* default light theme */
    --sky: #a3deff;
    --bubble: #b1e3ff;
    --darkgreen: #2f5525;
    --lightgreen: #69c063;
    --brown: #71461f;
    --gold: #ffac01;
    --bluegray: #514f66;
    --gray: #5f5f5f;
    --white: #ffffff;
    --darksky: #2c314f;
    --darkbubble: #373a5e;
    --purple: #373a5e;
    --lightPurple: #5c6084;
    --hoverPrimary: #5c6084;
    --goldHover: #ffc753;
    --brownHover: #987a5e;
    --link: #71461f;
    --text: #373a5e;
    --clouds: url('/assets/clouds.svg');
    --clouds2: url('/assets/clouds_birds.svg');
    --schedule: url('/assets/schedule.svg');
  }

  [data-theme='light'] {
    --sky: #a3deff;
    --bubble: #b1e3ff;
    --darkgreen: #2f5525;
    --lightgreen: #69c063;
    --brown: #71461f;
    --gold: #ffac01;
    --bluegray: #514f66;
    --gray: #5f5f5f;
    --white: #ffffff;
    --darksky: #2c314f;
    --darkbubble: #373a5e;
    --purple: #373a5e;
    --hoverPrimary: #5c6084;
    --goldHover: #ffc753;
    --brownHover: #987a5e;
    --lightPurple: #5c6084;
    --link: #71461f;
    --text: #373a5e;
    --clouds: url('/assets/clouds.svg');
    --clouds2: url('/assets/clouds_birds.svg');
    --schedule: url('/assets/schedule.svg');
  }

  [data-theme='dark'] {
    --sky: #2c314f;
    --bubble: #b1e3ff;
    --darkgreen: #2f5525;
    --lightgreen: #69c063;
    --brown: #71461f;
    --gold: #ffac01;
    --bluegray: #514f66;
    --gray: #5f5f5f;
    --white: #ffffff;
    --darksky: #2c314f;
    --darkbubble: #373a5e;
    --purple: #597daa;
    --lightPurple: #5c6084;
    --hoverPrimary: #7495be;
    --goldHover: #ffc753;
    --brownHover: #987a5e;
    --link: #ffac01;
    --text: #ffff;
    --clouds: url('/assets/clouds.svg');
    --clouds2: url('/assets/clouds_birds.svg');
    --schedule: url('/assets/schedule.svg');
  }
}

/* very useful for debugging */
/* * {
  border: 2px solid greenyellow;
} */

html,
body {
  width: 100% !important;
  background-color: var(--sky);
}

.min-safe-h-screen {
  /* equivalent to 100dvh in major browsers */
  min-height: calc(
    100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0)
  ) !important;
}

@supports (-webkit-touch-callout: none) {
  .min-safe-h-screen {
    /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
    min-height: -webkit-fill-available !important;
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
