@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "BalooPaaji2Bold";
  src: url("../public/fonts/Baloo_Paaji_2/static/BalooPaaji2-SemiBold.ttf")
}
@font-face {
  font-family: "BalooPaaji2Reg";
  src: url("../public/fonts/Baloo_Paaji_2/static/BalooPaaji2-Regular.ttf");
}
@font-face {
  font-family: "BalooPaaji2Medium";
  src: url("../public/fonts/Baloo_Paaji_2/static/BalooPaaji2-Medium.ttf");
}
@font-face {
  font-family: "BalooPaaji2Bold";
  src: url("../public/fonts/Baloo_Paaji_2/static/BalooPaaji2-Bold.ttf");
} */

/*
@layer base {
  :root {
    /* default light theme 
    --overlay: #a3deff;
    --buttons: #a3deff;
    --primary: #a3deff;
    --secondary: #dfdfdf;
    --third: #b56b83;
    --sub-secondary: #7a5770;
    --highlight: #a3deff;
    --card: #ab6f82;
    --text: #ffffff;
    --opposite: #ffffff;
    --sub: #f6dd5a;
    --from: #190e56;
    --wave-from: #65385d;
    --wave-via: #ff8e6a;
    --wave-to: #b56b83;
    --via: #65385d;
    --via2: #ff8e6a;
    --to: #b56b83;
    --transparent: #0000;
    --judge: #000000;
    --pattern: url('/assets/aboutUsStars.svg');
  }

  [data-theme='light'] {
    --buttons: #a3deff;
    --overlay: #00000059;
    --primary: #a3deff;
    --secondary: #b1e3ff;
    --third: #b56b83;
    --sub-secondary: #7a5770;
    --highlight: #a3deff;
    --card: #ab6f82;
    --text: #000000;
    --opposite: #ffffff;
    --sub: #f6dd5a;
    --from: #190e56;
    --via: #b56b83;
    --to: #ff8e6a;
    --transparent: #0000;
    --judge: #000000;
    --pattern: url('/assets/aboutUsStars.svg');
  }

  [data-theme='dark'] {
    --buttons: #f09372;
    --overlay: #00000080;
    --primary: #110a36;
    --secondary: #353535;
    --third: #b56b83;
    --sub-secondary: #7a5770;
    --highlight: #f09372;
    --card: #ab6f82;
    --text: #ffffff;
    --opposite: #ffffff;
    --sub: #f6dd5a;
    --from: #a3deff;
    --via: #b56b83;
    --to: #ff8e6a;
    --transparent: #0000;
    --judge: #f6dd5a;
    --pattern: url('/assets/aboutUsStars.svg');
  }
} */

/* * {
  border: 2px solid greenyellow;
} */

html,
body {
  width: 100% !important;
  background-color: var(--primary);
}

.min-safe-h-screen {
  /* equivalent to 100dvh in major browsers */
  min-height: calc(
    100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0)
  ) !important;
}

@supports (-webkit-touch-callout: none) {
  .min-safe-h-screen {
    /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
    min-height: -webkit-fill-available !important;
  }
}
