@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* default light theme */
    --sky: #a3deff;
    --bubble: #b1e3ff;
    --trackoutline: #33719f;
    --textcolor: #47455c;
    --button: #313556;
  }

  [data-theme='light'] {
    --sky: #a3deff;
    --bubble: #b1e3ff;
    --trackoutline: #33719f;
    --textcolor: #47455c;
    --button: #313556;
  }

  [data-theme='dark'] {
    --sky: #2c314f;
    --bubble: #373a5e;
    --trackoutline: #a0d7ff;
    --textcolor: #ffffff;
    --button: #202439;
  }
}

/* * {
  border: 2px solid greenyellow;
} */

html,
body {
  width: 100% !important;
  background-color: var(--sky);
}

.min-safe-h-screen {
  /* equivalent to 100dvh in major browsers */
  min-height: calc(
    100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0)
  ) !important;
}

@supports (-webkit-touch-callout: none) {
  .min-safe-h-screen {
    /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
    min-height: -webkit-fill-available !important;
  }
}
